# Gradle
.gradle/
**/.gradle/
build/
**/build/
out/
classes/

# IDEs
.idea/*
!.idea/gradle.xml
*.iml
*.ipr
*.iws
*.launch
.settings/
.vscode/
bin/
.classpath
.project

# Fabric run directories
run/
**/run/

# OS / JVM
*.DS_Store
hs_err_*.log
replay_*.log
*.hprof
*.jfr
src.zip
